 body{
    align-items: center;
 }
.zoom { 
    color: black; 
    transition: transform .2s; 
    font-size: 1.5rem;
} 
  
.zoom:hover { 
    transform: scale(1.23); 
  
    color: green; 
}

table,tr,th.td{ 
    align-items: center;
    border-collapse: collapse; 
    border: 1px solid #ddd; 
    min-width: 40%;
} 